@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Sign and Login */
.input{
    @apply border-gray-400 border rounded pl-5 w-full h-12 block  mx-auto outline-0;
}

.signup{
    @apply rounded-lg font-semibold w-full h-12 bg-rose-700 text-white cursor-pointer;
}

.signUp-text{
    @apply mb-2 text-2xl font-semibold 
}

.borderb{
    @apply mb-8 border-b-4 border-rose-700 w-12
}

.errorMsg{
    @apply italic font-medium text-red-500 w-fit mx-auto absolute top-20
}

.errorMsg-enter-active,
.errorMsg-leave-active{
    @apply transition duration-1000 ease-in-out
}

.errorMsg-enter-from,
.errorMsg-leave-to{
    @apply opacity-0
}

.errorMsg-enter-to{
    @apply opacity-100
}

.loginlink{
    @apply font-semibold text-lg text-rose-700 border rounded-lg px-4 mt-2 w-fit mx-auto
}

.passworddiv{
    @apply flex items-center relative mb-7
}

.eye{
    @apply absolute right-0 pr-1 cursor-pointer
}

.loginpage{
    @apply flex flex-col items-center justify-center font-body h-screen relative
}

.help-center{
    @apply flex items-center justify-between mt-10 text-rose-700
}

/* HEADER */

.header{
    @apply bg-rose-700 z-50 w-full fixed transition duration-500 ease-in-out px-3
    lg:px-4
}

.nav{
    @apply relative flex py-2 transition duration-500 ease-in-out w-full my-0 mx-auto
    md:py-0
}

.navigation{
    @apply flex flex-1 items-center justify-end transition duration-500 ease-in-out
}

.li{
    @apply uppercase font-medium cursor-pointer ml-4 p-4
    lg:p-3
}

.link{
    @apply text-white pb-1 transition duration-500 ease-in-out border-b-2 border-transparent hover:text-green-700 hover:border-teal-700
}

.logout{
    @apply lg:p-1 transition text-white duration-500 ease-in-out hover:text-red-700
}

.logodiv{
    @apply flex items-center transition duration-500 ease-in-out
}

.icon{
    @apply flex items-center absolute top-0 right-0 h-full
}

.menu{
    @apply cursor-pointer text-white text-3xl transition duration-1000 ease-in-out
}

.dropdown-nav{
    @apply flex flex-col text-rose-700 font-semibold fixed w-full h-full bg-slate-100 top-12 left-0 overflow-scroll
}

.dropdown-link{
    @apply flex items-center w-fit justify-center  mb-2 text-sm ml-10
}

.dp-link{
    @apply ml-3 border-b-2 border-transparent
}

.profilepic{
    @apply w-10 h-10 border rounded-full border-gray-600
}

.mobile-nav-enter-active,
.mobile-nav-leave-active{
    @apply transition duration-1000 ease-in-out
}

.mobile-nav-enter-from,
.mobile-nav-leave-to{
    @apply -translate-x-full
}

.mobile-nav-enter-to{
    @apply translate-x-0
}

li a.router-link-exact-active{
    @apply text-green-700 border-teal-700
}

div a.router-link-exact-active{
    @apply  border-rose-600
}
/* End of Header */
/* Home */
.main{
    @apply pt-20 pb-3 px-5 min-h-screen
}

.container1{
    @apply rounded-lg bg-white py-5 my-5
}

.container{
    @apply rounded-lg bg-white px-2 py-5 my-5 text-center
    flex flex-col items-center justify-center
}

.container-title{
    @apply font-bold text-lg my-3
}

.container-text{
    @apply text-sm text-gray-600
}

.container-link{
    @apply bg-rose-700 text-base text-white p-3 rounded-lg mt-3
}

/* Transfer Section */
.title{
    @apply text-xl font-bold
}
.subheader{
    @apply border-b border-gray-300 py-2 mt-4
}
.subheader-link{
    @apply text-xs text-rose-900 p-2 border-b-2 border-transparent
}
.subheader a.router-link-exact-active{
    @apply border-rose-600 text-rose-600
}
.divhead{
    @apply mx-5 mb-4 text-center font-bold
}
.label{
    @apply pb-4 text-sm
}
.btdiv{
    @apply mx-4 mt-5 flex flex-col
}
.getDetails{
    @apply border bg-gray-100 p-2 w-fit self-center 
}
.search{
    @apply border-gray-300 border rounded-full pl-5 w-full h-12 block mx-auto outline-0 placeholder:text-center
}